.hero {
  position: relative;
  height: 1156px;
  width: 100%;
  max-height: 1156px;
  &__bg {
    position: relative;
    width: 100%;
    height: 100%;
    >img {
      position: absolute;
      &:first-child {
        top: 0;
      }
      &:last-child {
        bottom: 0;
      }
    }
    // background-image: url("/public/img/clouds.png"),
    //   url("/public/img/Frame.png");
    // background-position: bottom, top;
    // background-repeat: no-repeat, no-repeat;
    z-index: -1;
  }
  &__navbar {
    @include flex-img(0,0);
    max-height: 110px;
    height: 110px;
    width: 100%;
    .logo {
      @include flex-img(6.67%, 23.64%);
    }
    .navbar-btn {
      @include flex-img(1134px, 44px);
      min-width: 210px;
      height: 46px;
      max-height: 46px;
      border: inherit;
      border-radius: 10px;
      padding: 12px 24px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      @include font(600, 18px, 100%, $btn-color);
    }
  }

  &__content {
    @include flex-img(96px, 169px);
    display: flex;
    flex-direction: column;
    width: 722px;
    max-width: 722px;
    color: $white-color;
    > div {
      &:first-child {
        @include font(700, 48px, 62px, $white-color);
      }
      &:nth-child(2) {
        @include font(400, 18px, 26px, $white-color);
        opacity: 0.8;
        letter-spacing: 1px;
        li {
          list-style-type: "-";
          padding-left: 5px;
          margin-left: 5px;
        }
      }
      &:nth-child(3) {
        display: flex;
        flex-direction: row;
        > div {
          &:last-child {
            margin-left: 32px;
          }
          ul {
            list-style-type: none;
            li {
              &:first-child {
                @include font(700, 32px, 39px, $white-color);
                font-family: $alternative-font-family;
              }
              &:last-child {
                @include font(400, 18px, 27px, $white-color);
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                opacity: 0.8;
                img {
                  margin-right: 6px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__footer {
    @include flex-img(0, 972px);
    height: 160px;
    max-height: 160px;
    margin: 0 160px;
    align-items: center;
    text-align: center;
    @include font(800, 54px, 70px, $blue-color);
    letter-spacing: 1px;
    padding: 0 130px;
  }
  &__flexImage {
    > img {
      position: absolute;
      &:first-child {
        position: absolute;
        top: 273px;
        left: 748px;
      }
      &:nth-child(2) {
        @include flex-img(1280px, 414px);
      }
      &:nth-child(3) {
        @include flex-img(91px, 761px);
        height: 190px;
        width: 222px;
      }
      &:nth-child(4) {
        @include flex-img(1248px, 1135px);
        width: 142px;
        height: 123px;
      }
      &:nth-child(5) {
        @include flex-img(704px, 801px);
        width: 32px;
        height: 48px;
      }
      &:last-child {
        top: 767px;
        right: 48px;
      }
    }
  }
}

.make-ice {
  width: 1440px;
  height: 742px;
  max-height: 742px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 102px;
  margin-bottom: 58px;
  padding-top: 70px;
  &__left-side {
    width: 784px;
    height: 620px;
  }
  &__right-side {
    position: relative;
    width: 508px;
    height: 479px;
    max-height: 479px;
    margin: 70px 98px 193px 50px;
    h2 {
      height: 68px;
      padding-right: 40px;
      @include font(700, 54px, 68px, $blue-color);
    }
  }
  &__paragraph {
    margin-top: 16px;
    @include font(400, 17px, 25px, $paragraph-color);
    li {
      list-style-type: "-";
      padding-left: 5px;
      margin-left: 5px;
    }
  }
  &__heading {
    margin: 34px 40px 34px 0px;
    height: 24px;
    width: 468px;
    @include font(700, 18px, 22px, $blue-color);
  }

  &__list-item {
    display: flex;
    flex-direction: row;
    height: 89px;
    max-height: 89px;
    margin-bottom: 30px;
    > div {
      > span {
        position: absolute;
        &:first-child {
          left: -14px;
          top: -10px;
          border-bottom: 1px solid black;
          font-size: 9px;
          z-index: 1;
          transform: rotate(-30deg);
        }
        &:nth-child(2) {
          left: 27px;
          top: -21px;
          border-bottom: 1px solid black;
          font-size: 9px;
          z-index: 1;

        }
        &:nth-child(3) {
          right: -12px;
          top: 4px;
          border-bottom: 1px solid black;
          font-size: 9px;
          z-index: 1;
          transform: rotate(65deg);
        }
      }
      position: relative;
      margin-right: 40px;
      height: 50px;
      width: 76px;
    }
  }
  &__btn {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 56px;
    width: 214px;
    @include font(500, 18px, 48px, $white-color);
    background-color: #4762fc;
    border: inherit;
    border-radius: 10px;
  }
}

.dipenser {
  display: flex;
  flex-direction: row;
  height: 626px;
  position: relative;
  margin-bottom: 137px;
  background: #4762fc;
  background-image: url("/public/img/Pattern.png");
  background-repeat: no-repeat;
  &__left-side {
    margin: 66px 12px 57px 202px;
    width: 508px;
    max-width: 508px;
    height: auto;
    h2 {
      height: 144px;
      max-height: 144px;
      width: 444px;
      max-width: 444px;
      padding-right: 40px;
      @include font(700, 54px, 68px, $white-color);
    }
    div {
      &:nth-child(2) {
        li {
          list-style-type: "-";
          @include font(400, 17px, 25px, $white-color);
          padding-left: 5px;
          margin-left: 5px;
        }
        margin-top: 16px;
        margin-bottom: 22px;
      }
      &:nth-child(3) {
        @include font(bold, 18px, 22px, $white-color);
        align-items: center;
        margin-bottom: 34px;
      }
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 30px;
      padding: 16px 44px;
      border-radius: 10px;
    }
  }
  &__right-side {
    position: relative;
    width: 656px;
    max-width: 656px;
    height: 695px;
    margin-top: 68px;
    > img {
      &:first-child {
        @include flex-img(0, 0);
        width: 597px;
        height: 630px;
      }
      &:nth-child(2) {
        @include flex-img(534px, 378px);
      }
      &:last-child {
        @include flex-img(452px, 482px);
        border: 10px solid $white-color;
        border-radius: 50%;
      }
    }
  }
  > img {
    height: 188px;
    width: 218px;
    @include flex-img(36px, 650px);
    z-index: 1;
  }
}
.flake-ice {
  margin-top: 137px;
  margin: 137px 0 24px;
  display: flex;
  flex-direction: row;
  &__left-side {
    position: relative;
    width: 755px;
    height: 762px;
    margin: 90px 79px 24px 0;
    background-image: url("/public/img/flake-ice.png");
    img {
      &:first-child {
        @include flex-img(695px, 387px);
        color: $white-color;
      }
      &:last-child {
        @include flex-img(623px, 467px);
        border: 10px solid $white-color;
        border-radius: 50%;
      }
    }
  }
  &__right-side {
    margin-top: 154px;
    width: 510px;
    height: 419px;
    h2 {
      height: 68px;
      max-height: 68px;
      width: 468px;
      max-width: 468px;
      // padding-right: 40px;
      @include font(700, 54px, 68px, $blue-color);
    }
    div {
      &:nth-child(2) {
        li {
          list-style-type: "-";
          @include font(400, 17px, 25px, $paragraph-color);
          padding-left: 7px;
          margin-left: 7px;
        }
        margin-top: 13px;
        margin-bottom: 45px;
      }
      &:nth-child(3) {
        width: 468px;
        height: 24px;
        @include font(bold, 18px, 22px, $blue-color);
        align-items: center;
        margin-bottom: 34px;
      }
      &:nth-child(4) {
        display: flex;
        flex-direction: row;
        img {
          margin-right: 60px;
        }
      }
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 44px;
      margin-top: 40px;
      border: inherit;
      border-radius: 10px;
      @include font(500, 18px, 28px, $white-color);
      background-color: #4762fc;
    }
  }
}
.video-make-ice {
  display: block;
  height: 626px;
  background-image: url("/public/img/make_ice_vid.png");
  display: flex;
  flex-direction: column;
  padding: 134px auto 0;
  justify-content: space-evenly;
  align-items: center;
  &__heading {
    text-align: center;
    max-width: 920px;
    min-height: 82px;
    min-width: none;
    h2 {
      @include font(bold, 32px, 41px, $white-color);
    }
  }
  &__play-btn {
    margin-bottom: 90px;
    max-width: 100px;
    color: $white-color;
    &:hover {
      svg, div {
        color: $blue-color;
      }

    }
    > div {
      text-align: center;
      @include font(600, 14px, 20px, $white-color);
    }
  }
}
.partner {
  margin: 79px 96px;
  height: 208px;
  max-height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h2 {
    width: 328px;
    height: 62px;
    @include font(700,24px,31px,$blue-color)
  }
  > div {
    &:last-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 88px;
  }
  }
}

.comments {
  height: 511px;
  max-height: 511px;
  background-color: #F3FAFF;
  position: relative;
  padding-top: 64px;
  &__quote {
    width: 70px;
    height: 70px;
    margin: auto;
    text-align: center;
    font-family: $alternative-font-family;
    @include font(900, 54px, 70px, $blue-color);
  }
  .comment{
    text-align: center;
    &__content {
      margin: 14px 208px;
      letter-spacing: 0.1px;
      @include font(400,21px, 32px, $paragraph-color)
    }
    .placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__name {
        width: 121px;
        height: 32px;
        font-style: italic;
        letter-spacing: 0.5px;
        @include font(600, 21px, 32px, #13284C);
      }
      &__company {
        width: 247px;
        height: 28px;
        @include font(400, 16px, 28px, #95A4B7);
      }
      &__avatar {
        width: 100px;
        height: 100px;
        border: inherit;
        border-radius: 50px;
      }
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    margin: 16px auto;
    align-items: center;
    width: 93.93px;
    height: 12px;
    > .dots {
      width: 11.99px;
      height: 12px;
      background-color: #B9C4D2;
      border: inherit;
      border-radius: 50px;
    }
    .dots--active {
      background-color: #043C9C;
    }
  }
  .flex-image {
    &__footer-ice {
      @include flex-img(1000px, 458px);
      width: 218px;
      height: 188px;
      z-index: 1;
    }
  }
}
.footer {
  position: relative;
  height: 701px;
  background-color: #3956FB;
  background-image: url('/public/img/background/Bg_footer.png');
  padding: 60px 96px 54px;
  .footer-offers {
      label {
        @include font(700,32px, 48.38px,  $white-color);
        width: 339px;
        height: 48px;
        margin-bottom: 25px;
      }
      div {
        position: relative;
        width: 614px;
        height: 60px;
        margin-bottom: 48px;
        input[type="text"] {
          background-color: rgba(255,255,255,0.3);
          @include font(400, 18px, 26px,  rbga(255,255,255,0.8));
          border: 0px solid;
          border-radius: 9px;
          position: absolute;
          color: $white-color;
          opacity: 0.8;
          &::placeholder {
            color: $white-color;
            opacity: 0.8;
          }
          &:focus {
            outline: none;
          }
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0 160px 0 10px
        }
        button {
          width: 151px;
          height: 54px;
          @include flex-img(459px, 3px);
          border: none;
          border-radius: 9px;
          opacity: 1;
          color: $btn-color;
          letter-spacing: 2px;
          @include font(800, 18px, 18px,  $btn-color);
        }
      }
    }
  .footer-content {
    font-size: 18px;
    line-height: 26px;
    color: $white-color;
    .address {
      >span {
        b {
          margin-right: 10px;
        }
      }
      >p {
        padding-left: 110px;
      }
    }
  }
  .footer-contact {
    width: 225px;
    height: 23px;
    letter-spacing: 1px;
    text-align: center;
    @include flex-img(1119px,487px);
    > div {
      &:first-child {
        font-family: 'Mulish', sans-serif;
        @include font(500,18px,23px,$white-color);
      }
      &:last-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .footer-lisense {
    width: 424px;
    height: 22px;
    @include font(normal,18px,22px,rgba(255, 255, 255, 0.5));
    @include flex-img(96px,625px);
  }
}

@media only screen and (max-width: 376px) {
  body {
    width: 375px;
    max-width: 375px;
  }
  .hero {
    height: 961px;
    max-height: 961px;
    width: 100%;
    overflow: hidden visible;
    &__bg {
      width: 375px;
      overflow: hidden;
      background-color: #4762FC;
      > img {
        &:first-child {
          top: unset;
          bottom: 0;
          overflow: hidden;
          background-size: cover;
          height: 1100px;
          width: 1650px;
        }
        &:last-child {
          bottom: -110.17px;
          height: 500px;
          overflow: hidden;
        }
      }
    }
    &__navbar {
      max-height: 84px;
      height: 84px;
      .logo {
        @include rechange-pos(4.27%, 23.81%);
        height: 44px;
        width: 61px;
      }
      .navbar-btn {
        @include rechange-pos(54.67%,26.19%);
        
        min-width: 154px;
        height: 42px;
        max-height: 42px;
        padding: 12px 16px 12px 18px;
        @include font(600, 14px, 21px, $btn-color);
      }
    }
    &__content {
      @include flex-img(15px, 127px);
      width: 343px;
      max-width: 343px;
      color: $white-color;
      > div {
        &:first-child {
          @include font(700, 24px, 32px, #FDFDFD);
        }
        &:nth-child(2) {
          padding-top: 16px;
          width: 100%;
          @include font(400, 14px, 21px, $white-color);
        }
        &:nth-child(3) {
          margin-top: 34px;
          > div {
            &:last-child {
              margin-left: 15px;
            }
            li {
              &:first-child {
                @include font(700, 24px, 30px, $white-color);
              }
            }
          }
        }
      }
    }
    &__footer {
      top: unset;
      bottom: 0;
      margin: 0 0 44px 0;
      @include font(700, 23px, 31px, $blue-color);
      padding: 0;
      width: 370px;
      height: 71px;
    }
    &__flexImage {
      > img {
        position: absolute;
        &:first-child {
          top: 416px;
          left: 42px;
          width: 324.16px;
          height: 342.27px;
        }
        &:nth-child(2),&:nth-child(3),&:nth-child(5) {
          display: none;
        }
        &:nth-child(4) {
          position: absolute;
          width: 87px;
          height: 75px;
          left: 300px;
          top: 924px;
        }
        &:last-child {
          top: 705px;
          right: -43px;
          width: 194.5px;
          height: 107.47px;
          overflow: hidden;
        }
      }
    }
  }
  .make-ice {
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-top: 66px;
    margin-bottom: 272px;
    padding-top: 0px;
    &__left-side {
      width: 343px;
      height: 270px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__right-side {
      position: relative;
      width: 343px;
      height: 420px;
      max-height: 420px;
      margin: 27px 16px 0 16px;
      h2 {
        height: 31px;
        padding-right: 40px;
        @include font(700, 24px, 31px, $blue-color);
      }
    }
    &__paragraph {
      margin-top: 11px;
      @include font(400, 14px, 21px, $paragraph-color);
      li {
        list-style-type: "-";
        padding-left: 5px;
        margin-left: 5px;
      }
    }
    &__heading {
      margin: 34px 40px 34px 0px;
      height: 24px;
      width: 468px;
      @include font(700, 16px, 22px, $blue-color);
    }
    
    &__list-item {
      margin-left: 15px;
    }
  }
  .dipenser {
    height: 843px;
    flex-direction: column-reverse;
    margin-bottom: 0px;
    background-size: auto 625px;
    &__right-side {
      max-width: 328px;
      height: 325px;
      margin-top: 0;
      top: -169px;
      > img {
        &:first-child {
          left: 47px;
          width: 240px;
          height: 318px;
        }
        &:nth-child(2) {
          transform: scale(53px, 23px);
          left: unset;
          top: 100px;
          right: -10px;
        }
        &:last-child {
          width: 89px;
          height: 92px;
          right: 34px;
          // left: unset;
          top: 169px;
        }
      }
    }
  }
}